@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&family=Roboto+Serif:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    
}
body{
    background-color: #FDFEFF;
}
button:hover{
    cursor: pointer;
    transform: scale(1.05);
}
li:hover{
    cursor: pointer;
    transform: scale(1.05);
}
/* Navbar */
nav{
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.list{
    display: flex;
    gap: 40px;
}
.list-items{
    list-style-type: none;
    font-size: 20px;
    color: #8E8F8F;
}
.item-active{
    color: #1A1A1A;
}

.nav-register-btn{
    padding: 10px 20px;
    font-size: 20px;
    background: none;
    color: #079AF2;
    border: 1.5px solid #079AF2;
    border-radius: 10px;
}

/* Main Content */
.row{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 40px;
    padding-bottom: 50px;
    gap: 50px;
    align-items: center;
}
.col h1{
    font-size: 50px;
    padding-bottom: 20px;
}
.col p{
    font-size: 18px;
    margin-right: 50px;
    padding-bottom: 50px;
    color: #798196;
}
.col button{
    padding: 20px 30px;
    font-size: 18px;
    background-color: #0790F1;
    color: white;
    border-radius: 10px;
    border: none;
}
img[alt = "row3-image"]{
    width: 120%;
    margin-left: -50px;
}
.row5{
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    padding-right: 30px;
    margin-bottom: 40px;
    gap: 30px;
    
}
.row5-row1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}    
.row5-row2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.service{
    width: 20vw;
    height: 30vh;
}
.service h3{
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.service p{
    font-size: 15px;
}

.card-section{
    height: 140vh;
    padding-top: 60px;
    padding-left: 70px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    background-color: #08A1F4;
    
}
.bold-text{
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;
    color: white;
}
.cards{
    display: flex;
    justify-content: space-between;
    /* gap: 100px; */
    /* background-color: #FDFEFF; */
}
.card{
    height: 100vh;
    width: 27vw;
    background-color: #FDFEFE;
    padding: 30px 30px 40px 40px;
    border-radius: 10px;
    
}
.description h3{
    font-size: 35px;
    padding-bottom: 15px;
}
.description p{
    font-size: 15px;
    padding-bottom: 20px;
}
.card-list{
    padding-top: 30px;
    padding-bottom: 60px;
}
.card-list-items{
    list-style-type: none;
    padding-bottom: 25px;
    padding-left: 15px;
    font-size: 18px;
}
.card-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.card-footer h3{
    font-size: 35px;
    color: #1D2B4F;
}

.card-footer h3>span{
    color: #798196;
}
.card-footer p{
    font-size: 20px;
    color: #0795F2;
    padding-bottom: 10px;

}
.card-footer button{
    font-size: 20px;
    padding: 10px 20px;
    color: #0681EF;
    background: none;
    border: 1px solid #0681EF;
    border-radius: 10px;
}
.card-footer .colored-btn{
    background-color: #0681EF;
    color: white;
}
.customer{
    padding-bottom: 60px;
}

.customer-description{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;

}
.customer-description h1{
    color: #1D2B4F;
    font-size: 45px;
    padding-bottom: 15px;
}
.customer-description p{
    color: #ABAFBD;
    font-size: 20px;
    ;
}
.customer-cards{
    display: flex;
    flex-direction: column;
    padding: 20px 70px 100px 70px;
    gap: 20px;
}
.customer-card-row{
    display: flex;
    gap: 20px;
}
.customer-card{
    padding: 20px;
    border: 1px solid rgb(196, 183, 183);
    border-radius: 10px;
}
.customer-card p{
    font-size: 18px;
    color: #8E95A7;
}
.customer-card h3{
    padding-top: 25px;
    padding-left: 30px;
    padding-bottom: 10px;
    color: #1D2B4F;
}
.customer-card h5{
    padding-left: 30px;
    color: #8E95A7;
    font-size: 15px;
}
.registration{
    height: 60vh;
    padding-top: 15vh;
    padding-bottom: 15vh;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    align-items: center;
    background: url(images/footer-bg.svg);
    background-position: center;
}
.registration .col1{
    flex: 1;
}
.registration .col2{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.register-btn{
    padding: 10px 20px;
    font-size: 20px;
    background: none;
    color: white;
    border: 1.5px solid white;
    border-radius: 10px;
    
}
.registration .col1 h1{
    color: white;
    font-size: 50px;
    padding-bottom: 20px;
}
.registration .col1 p{
    color: rgb(223, 219, 219);
    font-size: 20px;
}

/* Footer */

.footer-socials{
    padding: 70px 70px 50px 70px;
    display: flex;
    justify-content: space-between;
    
}
.logo-content p{
    padding-top: 10px;
    color: #9AA0B0;
    font-size: 20px;
}
.footer-categories h4{
    font-size: 25px;
    color: #2B385A;
    padding-bottom: 10px;
}
.footer-list{
    padding-top: 10px;
}
.footer-list li{
    list-style-type: none;
    padding-bottom: 10px;
    color: #9AA0B0;
}
.social-icons{
    padding-top: 10px;
    
}
.social-icons img{
    width: 30px;
}
